@tailwind base;
@tailwind components;
@tailwind utilities;

/* Cache toutes les barres de scroll dans l'app */
*::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none;  /* IE et Edge */
  scrollbar-width: none;     /* Firefox */
}
